* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    padding-top: 100px;
}

#slider {
    width: 400px;
    height: 300px;
    overflow: hidden;
}

#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    border:none;
	outline:none;
	background:#888;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;
}

button:hover{
    background-color: #000000;
}